@model PROYECTOISW.Models.ViewModel.TokenContraseña
@{
    Layout = null;
    ViewData["Title"] = "Token";
}
<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - PROYECTOISW</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PROYECTOISW.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="principal">
        <div class="container form1">
            <h2 style="text-align: center; color: black; font-size: 1.8rem;">Validar Token</h2>
            <form asp-action="ValidarToken" method="post" style="line-height: 1.8;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="ValidarTokenViewModel.Correo" type="hidden" />
                <div class="mb-5">
                    <label asp-for="ValidarTokenViewModel.Token" class="form-label" style="color: #28a745; font-size: 1.2rem;">Ingresar el código</label>
                    <input asp-for="ValidarTokenViewModel.Token" class="form-control" placeholder="Ingresar Token" type="text" style="font-size: 1rem;" />
                    <span asp-validation-for="ValidarTokenViewModel.Token" class="text-danger"></span>
                </div>
                <div class="mb-5 text-center">
                    <button type="submit" class="btn btn-secondary" style="background-color: #28a745; border-color: #28a745; color: white; font-size: 1rem; padding: 0.5rem 1rem;">Verificar Código</button>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Invalido))
                {
                    <div class="alert alert-danger" role="alert" style="font-size: 1rem;">
                        @ViewBag.Invalido
                    </div>
                }
            </form>
        </div>
        <div class="container form2">
            <h2 style="text-align: center; ">Cambiar Contraseña</h2>
            <form asp-action="RestablecerContraseña" asp-controller="Rc" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="CambiarContrase.Correo" type="hidden" value="@Model.ValidarTokenViewModel.Correo"/>
                <div class="mb-5">
                    <label asp-for="CambiarContrase.Nueva" class="form-label" style="color: #28a745;"></label>
                    <input asp-for="CambiarContrase.Nueva" id="password1" class="form-control" type="password" placeholder="Ingresar contraseña" />
                    <span asp-validation-for="CambiarContrase.Nueva" class="text-danger"></span>
                </div>
                <div class="mb-5">
                    <label asp-for="CambiarContrase.Confirmar" class="form-label" style="color: #28a745;"></label>
                    <input asp-for="CambiarContrase.Confirmar" id="password2" class="form-control" type="password" placeholder="Confirmar contraseña" />
                    <span asp-validation-for="CambiarContrase.Confirmar" class="text-danger"></span>
                </div>
                <div class="mb-5 text-center">
                    <button type="submit" id="submitButton" class="btn btn-secondary" style="background-color: #28a745; border-color: #28a745;">Confirmar</button>
                </div>
                <!-- Mensaje de error -->
               @*  @if (!string.IsNullOrEmpty(ViewBag.Contrase))
                {
                    <div class="alert alert-danger mt-3" role="alert">
                        @ViewBag.Contrase
                    </div>
                } *@
            </form>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function() {
            var tokenValido = '@ViewBag.TokenValido' === 'True';
            if (!tokenValido) {
                $('#password1, #password2, #submitButton').prop('disabled', true);
            } else {
                $('#password1, #password2, #submitButton').prop('disabled', false);
            }
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>
</html>